<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Employees</title>
</head>
<body>
  <div>
    <a th:href="@{/new}">New employee</a>
  </div>
  <!-- IF NO EMPLOYEE -->
  <div th:if="${employees.empty}">
    <div>No employee</div>
  </div>
  <!-- ELSE -->
  <div th:unless="${employees.empty}">
    <table id="employee_table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.name}"></td>
          <td th:text="${employee.salary}"></td>
          <td><a th:href="@{'/edit/' + ${employee.id}}">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
