<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Employees</title>
</head>
<body>
  <!-- IF NO EMPLOYEE -->
  <div th:if="${employees.empty}">
    <div>No employee</div>
  </div>
  <!-- ELSE -->
  <div th:unless="${employees.empty}">
    <table id="employee_table">
      <caption>Employees</caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.name}"></td>
          <td th:text="${employee.salary}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
